################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lotto/bin/Debug
/Lotto/obj/Debug
/.vs/Lotto/v14
/Lotto.sln.DotSettings.user
